@import "common";

.primary-btn {
  display: inline-block;
  border-radius: 20px;
  padding: space(sm) space(lg);
  @include skytop-font(body-1);
  letter-spacing: 0.18px;
  color: white;
  background: black;
  border: none;
}

.tertiary-btn {
  @include skytop-font(body-2, #FFFFFF63);
}
