@import "src/app/style/global";

.board {
  margin-top: space(xl);
  height: auto;

  h1 {
    text-align: center;
  }

  mat-spinner {
    margin: 0 auto;
  }

  &__btn-group {
    margin-top: space(lg);

    button {
      margin-right: space(sm);
    }
  }
}
